<%- include ../__header.ejs %>

<form method="post" action="/people/<%= person.id %>?_method=put">
  <input type="text" name="person[firstname]" value="<%= person.firstname %>">
  <input type="text" name="person[lastname]" value="<%= person.lastname %>">
  <input type="hidden" name="person[id]">
  <button>Save Friend Details</button>
</form>

<%- include ../__footer.ejs %>