<%- include ../__header.ejs %>

<h2 class="blog-post-title">Your special friend!</h2>

<h4><%= person.firstname %> <%= person.lastname %></h4>

<p> <%= person.phonenumber %></p>

<a href="/people/<%= person.id %>/edit"><button>Edit Details</button></a>
<a href="/people"><button>Go back</button></a>


<%- include ../__footer.ejs %>