<%- include ../__header.ejs %>

<h2 class="blog-post-title">Your special friend!</h2>

<%= person.id %> <%= person.firstname %> <%= person.lastname %> <%= person.phonenumber %>

<a href="/people/<%= person.id %>/edit"><button>Edit</button></a>


<%- include ../__footer.ejs %>